<div class="row" *ngIf="member" >
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}" class="card-img-top img-thumbnail">
       <div style="margin: 12px;">
           <div>
               <strong>Name of User</strong>: <p> {{member.username}}</p>
           </div>
           <div>
            <strong>Age</strong>:
            <p> {{member.age}}</p>
        </div>
            <div>
                <strong>Location</strong>
                <p>{{member.city}},{{member.country}}</p>
                <strong>last Active:</strong>
                <p>{{member.lastActive | timeago}} </p>
                <strong>Member Since:</strong>
                <p>{{member.created  | date:'dd MMM YYYY'}} </p>
            </div>
           
       </div>
       
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='About {{member.username}}'>
            <h4>Description</h4>
            <p>{{member.introduction}}</p>
            <h4>Looking for</h4>
            <p>{{member.age}}</p>
        </tab>
            <tab heading='Intrests'>
            <h4>interests</h4>
            <p>{{member.interests}}</p>
            <h4>Looking for</h4>
            <p>{{member.lastActive}}</p>
        </tab>
            <tab heading='Photos'>
           <p>photo will go here</p>
            <div class="img" *ngFor="let item of galleryImages">
                <!-- <img src="{{item.imageUrls || './assets/user.png'}}" class="card-img-top img-thumbnail"> -->
                 <h1>{{item}}</h1>   
                 <!-- <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}" class="card-img-top img-thumbnail"> -->
            </div>    

            <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>   -->
        </tab>
        </tabset>
    </div>

</div>